/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
	min-height: 100vh;
	min-width: 100vw;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
	height: 100%;
}

section {
    background-color: #f7f7f7;
    padding: 1em;
    margin-bottom: 1em;
    width: 80%;
}

/* Positioning Styles */

.static-section {
    position: static;
    background-color: #ccc;
}

.relative-section {
    position: relative;
    background-color: #ddd;
}

.relative-child {
    position: relative;
    top: 20px;
    left: 20px;
    background-color: #eee;
    padding: 1em;
}

.absolute-section {
    position: relative;
}

.absolute-child {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #fff;
    padding: 1em;
}

.fixed-section {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 1em;
    width: 100%;
}

.sticky-section {
    position: sticky;
    top: 0;
    background-color: #333;
    color: #fff;
    padding: 1em;
}